<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  
  <!-- Macro definition for link2 skin -->
  <xacro:macro name="link2_skin" params="parent namespace">
    <!-- Properties -->
    <xacro:property name="use_mesh_file" value="true" />
    <xacro:property name="mesh_file" value="package://gentact_ros_tools/meshes/skin/self-cap/link2_fancy.stl" />
    <xacro:property name="mass" value="0.3" /> <!-- [kg] -->
    <xacro:property name="body_width" value="0.3" /> <!-- [m] -->
    <xacro:property name="body_height" value="0.1" /> <!-- [m] -->
    <xacro:property name="sensor_length" value="0.05" /> <!-- [m] -->
    <xacro:property name="sensor_radius" value="0.0" /> <!-- [m] -->

    <!-- Included URDF Files -->
    <xacro:include filename="$(find gentact_ros_tools)/urdf/skin/self-cap-base.xacro" />

    <!-- Instantiate dermis once -->
    <xacro:dermis_base_macro
      robot_namespace="${namespace}"
      parent="${parent}"
      mass="${mass}"
      body_width="${body_width}"
      body_height="${body_height}"
      use_mesh_file="${use_mesh_file}"
      mesh_file="${mesh_file}">
      <origin xyz="0 0 0" rpy="1.5707 0 0" />
    </xacro:dermis_base_macro>

    <!-- Instantiate sensors -->
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="3"
      sensor_radius="${sensor_radius}"
      sensor_length="0.05"
      normal_x="-0.824"
      normal_y="0.558"
      normal_z="-0.099">
      <origin xyz="-0.048 0.113 -0.006" rpy="1.670 -0.000 -2.166" />
    </xacro:self_cap_sensor>
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="2"
      sensor_radius="${sensor_radius}"
      sensor_length="0.05"
      normal_x="0.592"
      normal_y="0.805"
      normal_z="0.044">
      <origin xyz="0.032 0.053 0.147" rpy="1.526 -0.000 2.508" />
    </xacro:self_cap_sensor>
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="0"
      sensor_radius="${sensor_radius}"
      sensor_length="0.05"
      normal_x="-0.744"
      normal_y="0.668"
      normal_z="0.022">
      <origin xyz="-0.046 0.040 0.162" rpy="1.549 -0.000 -2.303" />
    </xacro:self_cap_sensor>
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="4"
      sensor_radius="${sensor_radius}"
      sensor_length="0.05"
      normal_x="0.803"
      normal_y="0.593"
      normal_z="0.058">
      <origin xyz="0.050 0.110 0.007" rpy="1.513 -0.000 2.207" />
    </xacro:self_cap_sensor>
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="1"
      sensor_radius="${sensor_radius}"
      sensor_length="0.05"
      normal_x="0.081"
      normal_y="0.890"
      normal_z="0.448">
      <origin xyz="0.004 0.074 0.093" rpy="1.107 0.000 3.050" />
    </xacro:self_cap_sensor>
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="5"
      sensor_radius="${sensor_radius}"
      sensor_length="0.05"
      normal_x="0.060"
      normal_y="0.761"
      normal_z="0.646">
      <origin xyz="0.001 0.117 0.045" rpy="0.869 -0.000 3.063" />
    </xacro:self_cap_sensor>
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="6"
      sensor_radius="${sensor_radius}"
      sensor_length="0.05"
      normal_x="0.342"
      normal_y="0.524"
      normal_z="-0.780">
      <origin xyz="0.019 0.111 -0.046" rpy="-0.676 -3.142 -0.578" />
    </xacro:self_cap_sensor>
  </xacro:macro>

</robot>
