<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  
  <!-- Macro definition for link3 skin -->
  <xacro:macro name="link3_skin" params="parent namespace">
    <!-- Properties -->
    <xacro:property name="use_mesh_file" value="true" />
    <xacro:property name="mesh_file" value="package://gentact_ros_tools/meshes/skin/self-cap/link3_fancy.stl" />
    <xacro:property name="mass" value="0.3" /> <!-- [kg] -->
    <xacro:property name="body_width" value="0.3" /> <!-- [m] -->
    <xacro:property name="body_height" value="0.1" /> <!-- [m] -->
    <xacro:property name="sensor_length" value="0.05" /> <!-- [m] -->
    <xacro:property name="sensor_radius" value="0.0" /> <!-- [m] -->

    <!-- Included URDF Files -->
    <xacro:include filename="$(find gentact_ros_tools)/urdf/skin/self-cap-base.xacro" />

    <!-- Instantiate dermis once -->
    <xacro:dermis_base_macro
      robot_namespace="${namespace}"
      parent="${parent}"
      mass="${mass}"
      body_width="${body_width}"
      body_height="${body_height}"
      use_mesh_file="${use_mesh_file}"
      mesh_file="${mesh_file}">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:dermis_base_macro>

    <!-- Instantiate sensors -->
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="5"
      sensor_radius="${sensor_radius}"
      sensor_length="0.05"
      normal_x="-0.059"
      normal_y="0.982"
      normal_z="0.178">
      <origin xyz="0.008 0.051 -0.043" rpy="1.392 0.000 -3.082" />
    </xacro:self_cap_sensor>
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="2"
      sensor_radius="${sensor_radius}"
      sensor_length="0.05"
      normal_x="0.217"
      normal_y="0.956"
      normal_z="-0.196">
      <origin xyz="0.097 0.113 -0.015" rpy="1.768 -0.000 2.918" />
    </xacro:self_cap_sensor>
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="1"
      sensor_radius="${sensor_radius}"
      sensor_length="0.05"
      normal_x="-0.710"
      normal_y="-0.691"
      normal_z="0.137">
      <origin xyz="-0.041 -0.037 -0.071" rpy="1.433 0.000 -0.799" />
    </xacro:self_cap_sensor>
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="6"
      sensor_radius="${sensor_radius}"
      sensor_length="0.05"
      normal_x="0.386"
      normal_y="0.844"
      normal_z="0.373">
      <origin xyz="0.107 0.106 0.026" rpy="1.189 -0.000 2.713" />
    </xacro:self_cap_sensor>
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="7"
      sensor_radius="${sensor_radius}"
      sensor_length="0.05"
      normal_x="-0.239"
      normal_y="0.851"
      normal_z="0.468">
      <origin xyz="0.067 0.106 0.031" rpy="1.084 -0.000 -2.868" />
    </xacro:self_cap_sensor>
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="4"
      sensor_radius="${sensor_radius}"
      sensor_length="0.05"
      normal_x="-0.371"
      normal_y="0.890"
      normal_z="-0.264">
      <origin xyz="0.057 0.108 -0.019" rpy="1.838 0.000 -2.747" />
    </xacro:self_cap_sensor>
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="0"
      sensor_radius="${sensor_radius}"
      sensor_length="0.05"
      normal_x="-0.878"
      normal_y="0.457"
      normal_z="0.145">
      <origin xyz="-0.050 0.023 -0.063" rpy="1.426 0.000 -2.050" />
    </xacro:self_cap_sensor>
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="3"
      sensor_radius="${sensor_radius}"
      sensor_length="0.05"
      normal_x="0.056"
      normal_y="0.301"
      normal_z="-0.952">
      <origin xyz="0.085 0.086 -0.050" rpy="-0.311 3.142 -0.185" />
    </xacro:self_cap_sensor>
  </xacro:macro>

</robot>