<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  
  <!-- Macro definition for link4 skin -->
  <xacro:macro name="link4_skin" params="parent namespace">
    <!-- Properties -->
    <xacro:property name="use_mesh_file" value="true" />
    <xacro:property name="mesh_file" value="package://gentact_ros_tools/meshes/skin/self-cap/link4_fancy.stl" />
    <xacro:property name="mass" value="0.3" /> <!-- [kg] -->
    <xacro:property name="body_width" value="0.3" /> <!-- [m] -->
    <xacro:property name="body_height" value="0.1" /> <!-- [m] -->
    <xacro:property name="sensor_length" value="0.05" /> <!-- [m] -->
    <xacro:property name="sensor_radius" value="0.0" /> <!-- [m] -->

    <!-- Included URDF Files -->
    <xacro:include filename="$(find gentact_ros_tools)/urdf/skin/self-cap-base.xacro" />

    <!-- Instantiate dermis once -->
    <xacro:dermis_base_macro
      robot_namespace="${namespace}"
      parent="${parent}"
      mass="${mass}"
      body_width="${body_width}"
      body_height="${body_height}"
      use_mesh_file="${use_mesh_file}"
      mesh_file="${mesh_file}">
      <origin xyz="0 0 0" rpy="-1.5707 0 0" />
    </xacro:dermis_base_macro>

    <!-- Instantiate sensors -->
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="0"
      sensor_radius="${sensor_radius}"
      sensor_length="0.05"
      normal_x="-0.053"
      normal_y="-0.985"
      normal_z="-0.165">
      <origin xyz="-0.075 -0.054 0.047" rpy="1.737 -0.000 -0.054" />
    </xacro:self_cap_sensor>
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="4"
      sensor_radius="${sensor_radius}"
      sensor_length="0.05"
      normal_x="-0.486"
      normal_y="0.868"
      normal_z="-0.103">
      <origin xyz="-0.112 0.052 0.084" rpy="1.674 -0.000 -2.632" />
    </xacro:self_cap_sensor>
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="5"
      sensor_radius="${sensor_radius}"
      sensor_length="0.05"
      normal_x="0.622"
      normal_y="-0.345"
      normal_z="0.703">
      <origin xyz="0.034 -0.088 0.038" rpy="0.791 -0.000 1.064" />
    </xacro:self_cap_sensor>
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="1"
      sensor_radius="${sensor_radius}"
      sensor_length="0.05"
      normal_x="-0.689"
      normal_y="-0.719"
      normal_z="-0.086">
      <origin xyz="-0.044 -0.101 -0.003" rpy="1.657 0.000 -0.764" />
    </xacro:self_cap_sensor>
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="2"
      sensor_radius="${sensor_radius}"
      sensor_length="0.05"
      normal_x="-0.358"
      normal_y="-0.243"
      normal_z="0.901">
      <origin xyz="-0.024 -0.076 0.049" rpy="0.448 0.000 -0.975" />
    </xacro:self_cap_sensor>
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="3"
      sensor_radius="${sensor_radius}"
      sensor_length="0.05"
      normal_x="0.148"
      normal_y="-0.982"
      normal_z="-0.117">
      <origin xyz="0.010 -0.117 -0.008" rpy="1.688 -0.000 0.150" />
    </xacro:self_cap_sensor>
  </xacro:macro>

</robot>