<?xml version="1.0"?>

<robot name="calibration_skin" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <!-- Include the link5 skin macro -->
  <xacro:include filename="$(find gentact_ros_tools)/urdf/skin/link6_fancy.xacro" />

  <!-- Create a base link for the calibration skin -->
  <link name="calibration_base" />
  
  <!-- Instantiate the link5 skin -->
  <xacro:link6_skin 
    parent="calibration_base" 
    namespace="calibration" />
</robot>