<?xml version="1.0"?>

<robot name="calibration_skin" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <!-- Include the link4 skin macro -->
  <xacro:include filename="$(find gentact_ros_tools)/urdf/skin/link4_fancy.xacro" />

  <!-- Create a base link for the calibration skin -->
  <link name="calibration_base" />
  
  <!-- Instantiate the link4 skin -->
  <xacro:link4_skin 
    parent="calibration_base" 
    namespace="calibration" />
</robot>