<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Main Sensor Dermis -->
  <xacro:macro name="dermis_base_macro"
    params="robot_namespace mass body_width body_height use_mesh_file mesh_file *inertia">
    <link name="${robot_namespace}/base_link"></link>

    <joint name="${robot_namespace}/base_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${robot_namespace}/base_link" />
      <child link="${robot_namespace}/base_link_inertia" />
    </joint>

    <link name="${robot_namespace}/base_link_inertia">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <xacro:if value="${use_mesh_file}">
            <mesh filename="${mesh_file}" scale="1 1 1" />
          </xacro:if>
          <xacro:unless value="${use_mesh_file}">
            <box size="${body_width} ${body_width} ${body_height}"/> <!-- [m] [m] [m] -->
          </xacro:unless>
        </geometry>
      </visual>
    </link>
  </xacro:macro>

  <!-- Self Capacitance Proximity Sensor -->
  <xacro:macro name="self_cap_sensor"
    params="robot_namespace parent sensor_number sensor_radius sensor_length normal_x normal_y normal_z *origin">
    <joint name="${robot_namespace}/sensor_${sensor_number}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <axis xyz="${normal_x} ${normal_y} ${normal_z}" />
      <parent link="${parent}" />
      <child link="${robot_namespace}/sensor_${sensor_number}" />
    </joint>
    <link name="${robot_namespace}/sensor_${sensor_number}">
      <visual>
        <geometry>
          <sphere radius="${sensor_radius}" /> <!-- [m] -->
        </geometry>
      </visual>
      <collision>
        <geometry>
          <sphere radius="${sensor_radius}" /> <!-- [m] -->
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>